.user-bar {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  padding-right: 38px;
}

.user-bar i {
  margin-right: 20px;
}

.user-notification {
  width: 36px;
  height: 36px;
  background: #fcd661;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.user-notification span {
  font-size: var(--font-size-xs);
  font-weight: 600;
}
