:root {
  --main-font: 'Open Sans';
  --title-size: 1.2em;
  --title-color: black;
  --title-weight: 600;
  --font-size-xs: 12px;
}

.App {
  width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 330px;
  grid-template-rows: 1fr;
  grid-template-areas: '. .';
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.image-container {
  width: 250px;
  height: 150px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.restaruant-info {
  display: flex;
  flex-direction: column;
}

.restaurant-details {
  display: flex;
  margin-top: 5px;
}

.restaurant-detail {
  font-size: 12px;
  color: #bdbdbd;
  margin-left: 8px;
  font-weight: 600;
  padding: 0;
  margin-top: 0;
}

.button-icon {
  background: none;
  border: none;
  padding: 5px;
}
.button-icon i {
  font-weight: 400;
}

.restaurant-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.restaurant-header-title {
  color: var(--title-color);
  font-size: 32px;
  font-weight: 600;
}

.delivery-button {
  border: none;
  background: #fb6d3b;
  border-radius: 15px;
  padding: 10px;
  height: 48px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-size: 14px;
  width: 160px;
}
